/* FONTS */

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* MOBILE QUERY */

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2%;
    width: 100%;
    max-height: 200px;
}

/*LOGO*/

.logo {
    display: flex;
    justify-items: flex-start;
    order: 1;
    max-width: 50%;
    max-height: 100px;
}

.logo img {
    display: flex;
    max-width: 75%;
    max-height: 75%;
    padding-left: 5%;
}

/*END OF LOGO*/

/*NAVIGATION*/

nav {
    display: flex;
    justify-content: center;
    order: 2;
    width: 100%;
    border-top-style: solid;
    border-top-color: #969696;
    border-top-width: 1px;
    padding-top: 2%;
    max-width: 100%;
    margin-top: 3%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

nav ul a {
    display: flex;
    color: #e2574c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
}

/*END OF NAVIGATION*/

/*CART*/

.cart {
    display: flex;
    justify-content: flex-end;
    order: 1;
    width: 50%;
}

.cart img {
    display: flex;
    max-width: 30%;
}

#cart-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  
  #itemCount {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    font-size: 2em;
  }
  
  i:hover {
    cursor: pointer;
  }  

  .add {
    min-width: auto;
    background-color: #000;
    color:  #FFFF;
    border-radius: 20px;
    border: none;
    height: auto;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }


/*END OF CART*/

/* END OF HEADER */

/* HERO BANNER */

h1 {
    color: #FFF;
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 8px #000;
}

h3 {
    color: #FFF;
    font-family: 'Raleway-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-shadow: 2px 2px 8px #000;
}

.hero-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/banner-girl.png), url("../images/flower-bkgd.jpg");
    background-position: 100% 100%, center top , 0% 0%;
    background-size: cover, contain, cover;
    background-repeat: no-repeat no-repeat, no-repeat;
}

/* END OF HERO BANNER */

/* ABOUT SECTION */

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    line-height: 2;
    width: 100%;
    min-height: 200px;
    margin-bottom: 10%;
    margin-top: 10%;
}

#about p {
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #000;
    text-align: center;
    font-size: 2em;
}

strong {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

em {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

/* END OF ABOUT SECTION */

/* PRODUCT CATEGORIES SECTION */

#product-categories {
    display: flex;
    width: 100%;
    min-height: 900px;
}

#product-categories ul {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Raleway-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: #FFF;
    width: 100%;
}

#product-categories ul :nth-child(1){
    display:flex;
    flex: 2 100%;
    margin-bottom: 2%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/mens-category.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    justify-content: center;
    align-items: center;
}

#product-categories ul :nth-child(2){
    display:flex;
    flex: 1 49%;
    margin-bottom: 2%;
    margin-right: 1%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trends-category.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

#product-categories ul :nth-child(3){
    display:flex;
    flex: 1 49%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/glasses-category.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

#product-categories ul :nth-child(4){
    display:flex;
    flex: 1 49%;
    margin-bottom: 2%;
    margin-right: 1%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/sale-category.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

#product-categories ul :nth-child(5){
    display:flex;
    flex: 1 49%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bags-category.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#product-categories ul :nth-child(6){
    display:flex;
    flex: 2 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/womens-category.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    justify-content: center;
    align-items: center;
}

/* END OF PRODUCT CATEGORIES SECTION */

/* SLIDESHOW SECTION */

#slideshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.carousel {
    width: 100%;
    max-height: 500px;
}

.carousel-cell {
    width: 100%; 
    padding: 1rem;
    text-align: center;
  }

.carousel-cell img {
    max-width: 100%;
    height: auto;
}

.carousel-cell-desc{
    color: #969696;
    text-transform: uppercase;
    font-family: 'Raleway-Medium', sans-serif;
}

.carousel-cell-title {
    font-display: 'Playfair Display', serif;
    font-size: 1.5em;
    color: #e2574c;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carousel-cell-price{
    color: #969696;
    font-family: 'Raleway-Medium', sans-serif;
    margin-bottom: 2%;
}


/* END OF SLIDESHOW SECTION */

/* EMAIL SIGN-UP SECTION */

#email-sign-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    line-height: 2;
    width: 100%;
    min-height: 225px;
    color: #FFF;
    padding: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1em;
}

.sign-up-title {
    font-family: 'Playfair Display', serif;
    color: #FFF;
}

form {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 5%;
}

input[type=submit] {
    display: inline;
    position: absolute;
    right: -1%;
    bottom: 10%;
    min-width: 30%;
    background-color: #e2574c;
    color:  #FFFF;
    border-radius: 20px;
    border: none;
    min-height: 80%;
    font-size: 1em;
    font-family: 'Raleway-Medium', sans-serif;
    z-index: 1;
}

input[type=submit]:hover {
    background-color: #b64036;
  }

input[type=text] {
    display: inline-block;
    min-height: 100%;
    width: 100%;
    padding-left: 2%;
    border-radius: 20px;
    color: #969696;
    border: none;
    font-size: 1em;
    font-family: 'Raleway-Light', sans-serif;
    z-index: -1;
}

/* END OF EMAIL SIGN-UP SECTION */

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #242424;
    min-height: 225px;
    width: 100%;
    padding: 5%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    margin-bottom: 2%;
}

.address {
    color: #969696;
}

.contact-info a {
    display: inline;
    color: #FFF;
}

a:hover {
    color: #b64036;
}

.social-icons {
    display: flex; 
    justify-content: center;
    color: #FFF;
    width: 100%;
}

.social-icons ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.icontext {
    display: none;
}

/* END OF FOOTER */

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 425px;
    font-family: 'Raleway-Light', sans-serif;
    font-size: 14px;
    color: #2d2d2d;
}

/*TABLET MEDIA QUERY*/
  
@media all and (min-width: 600px){

/* HEADER */

header {
    display: flex;
    flex-wrap: nowrap;
}

/*LOGO*/

.logo {
    max-width: 25%;
}

.logo img {
    max-width: 85%;
    max-height: 85%;
}

/*END OF LOGO*/

/*NAVIGATION*/

nav {
    order: 1;
    width: 100%;
    border-top-style: none;
    border-top-color: #969696;
    max-width: 75%;
    margin-top: 0;
}


/*END OF NAVIGATION*/

/*CART*/

.cart {
    width: 25%;
}

.cart img {
    max-width: 75%;
}

#cart-container {
    width: 90%;
  }
  
  #itemCount {
    font-size: 1.5em;
  }
  

/*END OF CART*/

/* END OF HEADER */

/* HERO BANNER */

h1 {
    order: 2;
}

h3 {
    align-self: center;
    order: 1;
}

.hero-banner {
    flex-direction: column;
}

/* END OF HERO BANNER */

/* ABOUT SECTION */

#about {
    min-height: 150px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


/* END OF ABOUT SECTION */

/* PRODUCT CATEGORIES SECTION */

#product-categories {
    min-height: 500px;
}

#product-categories ul {
    font-size: 1.5em;
}

#product-categories ul :nth-child(1){
    flex: 2 49%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-size: cover;
    background-position: right bottom;
}

#product-categories ul :nth-child(2){
    flex: 1 24%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: 0%;
    background-size: cover;
}

#product-categories ul :nth-child(3){
    flex: 1 23%;
    margin-bottom: 1%;
    margin-right: auto;
    background-size: cover;
}

#product-categories ul :nth-child(4){
    flex: 1 24%;
    margin-bottom: 0%;
    background-size: cover;
}

#product-categories ul :nth-child(5){
    flex: 1 25%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: 0%;
    background-size: cover;
}

#product-categories ul :nth-child(6){
    flex: 2 49%;
    margin-left: 1%;
    background-size: cover;
}

/* END OF PRODUCT CATEGORIES SECTION */

/* SLIDESHOW SECTION */


.carousel-cell {
    width: 50%; 
  }

/* END OF SLIDESHOW SECTION */

/* EMAIL SIGN-UP SECTION */

#email-sign-up {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

form {
    width: 75%;
}

/* END OF EMAIL SIGN-UP SECTION */

/* FOOTER */

footer {
    flex-wrap: nowrap;
    padding: 3%;
}

.contact-info {
    width: 80%;
    text-align: left;
}

.social-icons {
    flex-wrap: nowrap;
    width: 20%;
}

.social-icons ul {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.icontext {
    display: inline-block;
}

.fa-facebook-f {
    margin-right: 20px;
}

.fa-twitter {
    margin-right: 20px;
}

.fa-instagram {
    margin-right: 20px;
}

.fa-pinterest {
    margin-right: 20px;
}

/* END OF FOOTER */

.container {
    min-width: 600px;
    font-size: 16px;
}

}

/*END OF TABLET QUERY*/

/*DESKTOP MEDIA QUERY*/

@media all and (min-width: 1240px) {

/* HEADER */

header {
    flex-wrap: nowrap;
    max-height: 75px;
}

/*LOGO*/

.logo {
    max-width: 25%;
    max-height: 75px;
}

.logo img {
    padding-left: 0%;
}

/*END OF LOGO*/

/*NAVIGATION*/

nav {
    order: 1;
    padding-top: 0%;
    max-width: 75%;
    margin-top: 0%;
}

nav ul {
    width: 75%;
    padding-top: 0%;
    padding-bottom: 0%;
}

/*END OF NAVIGATION*/

/*CART*/

.cart {
    width: 25%;
}

.cart img {
    max-width: 50%;
}

#cart-container {
    width: 60%;
  }
  
  #itemCount {
    font-size: 1.5em;
  }


/*END OF CART*/

/* END OF HEADER */

/* HERO BANNER */

h1 {
    order: 2;
}

h3 {
    order: 1;
}

.hero-banner {
    flex-direction: column;
    min-height: 750px;
    background-size: cover, contain, contain;
    background-repeat: no-repeat no-repeat, no-repeat, repeat;
}

/* END OF HERO BANNER */

/* ABOUT SECTION */

#about {
    min-height: 150px;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
}

/* END OF ABOUT SECTION */

/* PRODUCT CATEGORIES SECTION */

#product-categories {
    min-height: 700px;
}

#product-categories ul {
    font-size: 1.5em;
}

#product-categories ul :nth-child(1){
    flex: 2 49%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-size: cover;
    background-position: right bottom;
}

#product-categories ul :nth-child(2){
    flex: 1 24%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: 0%;
    background-size: cover;
}

#product-categories ul :nth-child(3){
    flex: 1 23%;
    margin-bottom: 1%;
    margin-right: auto;
    background-size: cover;
}

#product-categories ul :nth-child(4){
    flex: 1 24%;
    margin-bottom: 0%;
    background-size: cover;
}

#product-categories ul :nth-child(5){
    flex: 1 25%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: 0%;
    background-size: cover;
}

#product-categories ul :nth-child(6){
    flex: 2 49%;
    margin-left: 1%;
    background-size: cover;
}

/* END OF PRODUCT CATEGORIES SECTION */

/* SLIDESHOW SECTION */

#slideshow {
    margin-top: 2%;
    margin-bottom: 5%;
}


.carousel-cell {
    width: 23%;
  }

.carousel-cell-price{
    margin-bottom: 5%;
}


/* END OF SLIDESHOW SECTION */

/* EMAIL SIGN-UP SECTION */

#email-sign-up {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 1%;
}

form {
    width: 75%;
}

input[type=button] {
    display: inline;
    position: absolute;
    right: -1%;
    bottom: 10%;
    min-width: 30%;
    background-color: #e2574c;
    color:  #FFFF;
    border-radius: 20px;
    border: none;
    min-height: 80%;
    font-size: 1em;
    font-family: 'Raleway-Medium', sans-serif;
    z-index: 1;
}

/* END OF EMAIL SIGN-UP SECTION */

/* FOOTER */

footer {
    flex-wrap: nowrap;
    min-height: 100px;
    padding: 2%;
}

.contact-info {
    width: 85%;
    text-align: left;
}

.social-icons {
    flex-wrap: nowrap;
    width: 15%;
}

.social-icons ul {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.icontext {
    display: inline-block;
}

.fa-facebook-f {
    margin-right: 20px;
}

.fa-twitter {
    margin-right: 20px;
}

.fa-instagram {
    margin-right: 20px;
}

.fa-pinterest {
    margin-right: 20px;
}

/* END OF FOOTER */

.container {
    min-width: 1240px;
    font-size: 16px;
}

}